.header {
    border-bottom: 2px solid #e3e3e3;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    position: relative;
    margin-bottom: 20px;
}

.header__button {
    background-color: royalblue;
    color: #e3e3e3;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    right: 10px;
}

.header__button:hover {
    background-color: rgb(36, 60, 131);
}