
.popup__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup__content {
    background:  #565656;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    min-height: 200px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .popup__title-input {
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    color: aliceblue;
    font-size: 30px;
    line-height: 35px;
    place-self: center;
    outline: none;
  }

  .popup__content-input {
    background-color: transparent;
    border: none;
    color: aliceblue;
    font-size: 20px;
    line-height: 25px;
    resize: none;
    outline: none;
  }

  .popup__written-content {
    text-align: center; 
  }